#gameboard {
  font-size: 100px;
  color: blue;
}

#firstRow {
  display: flex;
  flex-direction: row;
}


.board{
  display: grid;
  grid-template-columns: 100px 100px 100px;
  grid-template-rows: 100px 100px 100px;
}